.gallery-container {
  padding: 20px;
  text-align: center;
}

.gallery-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.skeleton-loader {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skeleton-box {
  width: 100px;
  height: 100px;
  background: #e0e0e0;
  border-radius: 8px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
}

/* .gallery-image {
  width: 100%;
  height: auto;
  display: block;
} */
.gallery-image {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Ensures the image fits within the dimensions without distortion */
  border-radius: 8px; /* Optional: Adds rounded corners */
}
.back-button {
  display: flex;
  align-items: center;
  background: 'none';
  border: 'none';
  cursor: 'pointer';
}

.back-button:hover {
  background-color: #375a7f;
}
